<% if session[:email] %>
  <%= "Welcome to golf tracker #{session[:email]}" %>
  <a href="/round/new">Add a round</a>
<% end %>

<!--
  Display awards here:

      Winner Stroke Play
      Winner Handicap Play
      Three Putts Award
      
-->
