<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Golf Tracker</title>
</head>

<body>
  <a href='/'>Home</a>

<% if !session[:email] %>
  <a href='/users/sign_up'>Sign up</a>
  <a href='/users/sign_in'>Sign in</a>
<% else %>
  <a href='/user/sign_out'>Sign out</a>
<% end %>

  <%= yield %>

</body>
</html>
