<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Golf Tracker</title>
</head>

<body>

  <form method='post' action='/sign_up'>
    <h4>Sign up:</h4>
    <label>Email:</label>
    <input type='text' name='email'>
    <label>Name:</label>
    <input type='text' name='name'>
    <label>Password:</label>
    <input type='password' name='password'>
    <input type='submit' value='Submit'>
  </form>

  <%= yield %>

</body>
</html>
