<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Golf Tracker</title>
</head>

<body>

  <a href='/users/sign_up'>Sign up</a>
  <a href='/users/sign_in'>Sign in</a>
  <a href='/'>Home</a>


  <%= yield %>

</body>
</html>
